@font-face
	font-family: 'Aquawax'
	src: url('../fonts/aquawax-demibold.eot')
	src: url('../fonts/aquawax-demibold.eot?#iefix') format('embedded-opentype'), url('../fonts/aquawax-demibold.woff2') format('woff2'), url('../fonts/aquawax-demibold.woff') format('woff'), url('../fonts/aquawax-demibold.ttf') format('truetype'), url('../fonts/aquawax-demibold.svg#youworkforthem') format('svg')
	font-weight: normal
	font-style: normal

.header
  font-family: 'Aquawax', 'Poppins', sans-serif
  text-align: center
  color: #fff
  text-transform: uppercase
